body, html {
  height: 100%;
  background-color: #F5E50C;
}
.numthree {
  background-image: url("image/salmon.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.numfour {
  background-image: url("image/both.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 48%;
  border: 10px solid #F7F0C1;
  border-radius: 60%;
  height: 80vh;
}
.row {
  width: 100%;
  margin-bottom: 30px;
  background-color: #F7F0C1;
  display: flex;
}

h1 {
  text-align: center;
  font-size: 80px;
  color: #FFFFFF;
  font-family: 'Lobster', cursive;
}

p {
  font-family: 'Comfortaa', cursive;
  padding: 2vh;
}
.open{
  color: black;
}

.item {
  width: 40%;
}
.item2 {
  width: 60%;
}
.symbol {
  width: 10%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  float: left;
}

/*http://guywithoutidea.github.io/Loki-Arma/*/
