body {
  background-color: #fffee3;
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin-top: 80px;
  font-size: 80px;
  margin-left: 10px;
  color: white;
  position: absolute;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

.container {
  margin-left: 10px;
  width: 40%;
}

img {
  border: 10px;
  width: 100%;
  height: 40vh;
}

.row {
  display: flex;
}

.item {
  width: 40%;
  height: 40%;
  margin-left: 60px;
}

.item {
  width: 40%;
}
.item2 {
  width: 60%;
}
.symbol {
  width: 10%;
}
/* menu taken from w3schools*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  float: left;
}
